# Make `git subrepo` work.
source .git-subrepo-subrepo/.rc

VERSION=0.123.3
URL="https://github.com/gohugoio/hugo/releases/download/v${VERSION}/hugo_${VERSION}_darwin-universal.tar.gz"
DEST=".bin/hugo-${VERSION}"
FILEPATH="${DEST}/hugo"

if [[ ! -e "${FILEPATH}" ]]; then
	echo 'Downloading hugo…' >&2
	mkdir -p "${DEST}"
	curl -sSfLo "${DEST}/${VERSION}.tar.gz" "${URL}"
	[[ -e "${DEST}/${VERSION}.tmp$$" ]] && rm -fr "${DEST}/${VERSION}.tmp$$"
	mkdir "${DEST}/${VERSION}.tmp$$"
	tar xzf "${DEST}/${VERSION}.tar.gz" -C "${DEST}/${VERSION}.tmp$$"
	mv "${DEST}/${VERSION}.tmp$$/hugo" "${FILEPATH}"
	rm -r "${DEST}/${VERSION}.tar.gz" "${DEST}/${VERSION}.tmp$$"
	echo 'Done downloading hugo.' >&2
fi

PATH_add "${DEST}"
