VERSION=0.17
URL="https://github.com/gohugoio/hugo/releases/download/v${VERSION}/hugo_${VERSION}_MacOS-64bit.zip"
DEST=".bin/hugo-${VERSION}"
FILEPATH="${DEST}/hugo"

if [[ ! -e "${FILEPATH}" ]]; then
	echo 'Downloading hugo…' >&2
	mkdir -p "${DEST}"
	curl -sSfLo "${DEST}/${VERSION}.zip" "${URL}"
	[[ -e "${DEST}/${VERSION}.tmp$$" ]] && rm -fr "${DEST}/${VERSION}.tmp$$"
	unzip -q "${DEST}/${VERSION}.zip" -d "${DEST}/${VERSION}.tmp$$"
	mv "${DEST}/${VERSION}.tmp$$/hugo_${VERSION}_darwin_amd64/hugo_${VERSION}_darwin_amd64" "${FILEPATH}"
	rm -r "${DEST}/${VERSION}.zip" "${DEST}/${VERSION}.tmp$$"
	echo 'Done downloading hugo.' >&2
fi

PATH_add "${DEST}"
